body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html, body {
    height: 100%;
}
#app{
    height: 100%;
}

@font-face {
    font-family: "阿里妈妈东方大楷 Regular";
    font-weight: 600;
    src: url("//at.alicdn.com/wf/webfont/8AJzKUfw9qjq/LaIAzxf16PCl.woff2") format("woff2"),
         url("//at.alicdn.com/wf/webfont/8AJzKUfw9qjq/Ui72piTkuTdt.woff") format("woff");
    font-display: swap;
}

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}


/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}
@keyframes shake-bottom {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }
    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}


/**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
@-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}
@keyframes wobble-hor-bottom {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    15% {
        -webkit-transform: translateX(-30px) rotate(-6deg);
        transform: translateX(-30px) rotate(-6deg);
    }
    30% {
        -webkit-transform: translateX(15px) rotate(6deg);
        transform: translateX(15px) rotate(6deg);
    }
    45% {
        -webkit-transform: translateX(-15px) rotate(-3.6deg);
        transform: translateX(-15px) rotate(-3.6deg);
    }
    60% {
        -webkit-transform: translateX(9px) rotate(2.4deg);
        transform: translateX(9px) rotate(2.4deg);
    }
    75% {
        -webkit-transform: translateX(-6px) rotate(-1.2deg);
        transform: translateX(-6px) rotate(-1.2deg);
    }
}

/**
 * ----------------------------------------
 * animation kenburns-top
 * ----------------------------------------
 */
@-webkit-keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}
@keyframes kenburns-top {
    0% {
        -webkit-transform: scale(1) translateY(0);
        transform: scale(1) translateY(0);
        -webkit-transform-origin: 50% 16%;
        transform-origin: 50% 16%;
    }
    100% {
        -webkit-transform: scale(1.25) translateY(-15px);
        transform: scale(1.25) translateY(-15px);
        -webkit-transform-origin: top;
        transform-origin: top;
    }
}

.Header{
     width: 100%;
     background-color:#FAFAFA;
     height:70px;
     color:white;
     display:flex;
     overflow:hidden;
}
a{
    text-decoration: none;
    outline: none;
    color: black;
}
.logo{
    display: flex;
    width: 360px;
    height: 70px;
    color: #333333;
    font-family: '微軟正黑體';
    font-size: 30px;
    margin-left: 50px;
    margin-top: 13px;
    cursor:pointer;
}
.logo_word{
    /*display: inline-block;*/
    line-height: 30px;
    margin-left: 5px;
    margin-top: 7px;
    width:300px;
    height:80px;
    font-family: '微软雅黑 Light';
}
.H_middle{
    width:1300px;
    height:70px;
    line-height:70px;
    /*margin:0 auto;*/
    display:flex;
    /*margin-left: 100px;*/
}
.H_left{
    display:flex;
    margin:0 auto;
    width: 800px;
}

.Menu_item{
    width:150px;
    text-align:center;
    font-size:18px;
    cursor:pointer;
    height:70px;
    line-height: 70px;
    position: relative;

    color: #000; /* Set the default text color */
    transition: color 0.3s ease; /* Add a smooth transition effect for color */
    overflow: hidden; /* Hide the overflow to clip the background */

}
.Menu_item::before{
    content: "";
    position: absolute;
    width: 0; /* Initially, set the background width to 0 */
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #4CD875; /* Set the color of the sliding background */
    color: #FAFAFA;
    z-index:-2;
    transition: width 0.6s ease; /* Add a smooth transition effect for the sliding line */
}
.Menu_item:hover {
    color: #fff;
    z-index:1;
}
.Menu_item:hover::before {
    width: 100%; /* Expand the background width on hover */
}
.H_right{
    width:180px;
    height:70px;
    line-height:70px;
    margin-left:100px;
    text-align:center;
    font-size:15px;
    cursor:pointer;
    color: black;
    padding: 1px;
}
.H_right a:hover{
    color: #4CAF50;
}

.Top{
position: relative;
}
.Top img{
width: 100%;
height: 550px;
display: block;
}
.top_word{
    position: absolute;
    top: 12%;
    left: 75%;
}
.Top_word{
    /*position: absolute;*/
    /*top: 12%;*/
    /*left: 75%;*/
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    padding: 10px;
    user-select: none;
    font-family: "阿里妈妈东方大楷 Regular";
    font-weight: bold;
    /*text-align: center;*/
    font-size: 55px;
    white-space: nowrap;
    -webkit-animation: text-focus-in 2s ;
    animation: text-focus-in 2s ;
}
.Top_word2{
    /*position: absolute;*/
    /*top: 26%;*/
    /*left: 76.4%;*/
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    padding: 10px;
    user-select: none;
    font-family: "微软雅黑";
    font-weight: bolder;
    /*text-align: center;*/
    font-size: 35px;
    color: #0086b3;
    white-space: nowrap;
    -webkit-animation: text-focus-in 2s ;
    animation: text-focus-in 2s ;
}
.Top_word3{
    /*position: absolute;*/
    /*top: 35%;*/
    /*left: 71%;*/
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    padding: 10px;
    user-select: none;
    font-family: "微软雅黑";
    font-weight: bold;
    /*text-align: center;*/
    font-size: 35px;
    color: #0086b3;
    white-space: nowrap;
    -webkit-animation: text-focus-in 2s ;
    animation: text-focus-in 2s ;
}
.Second{
    margin:75px auto;
    width:1500px;
    padding:1px;
}

.Title_word{
    font-size:25px;
    letter-spacing:5px;
    line-height:35px;
    margin-top: 10px;
}
.S_content{
    display:flex;
    height: 500px;
}
.timeline{
    padding:1px;
    width:50%;
    margin-left:30px;
}
.time_Data{
    display:flex;
}
.time_con{
    display:flex;
    margin: 10%  -10px;
}
.Data_item{
   width:180px;
   height:50px;

    font-size:15px;
    font-family:'微软雅黑Light';
    color:white;
    line-height:50px;
    text-align:center;
    margin:-10px 10px;
    cursor: pointer;
}

.Data_item:nth-child(1) {
    background:url('../img/tag.png') no-repeat;
    background-size:100% 100%;
}
.Data_item:nth-child(2) {
    background:url('../img/taggreen1.png') no-repeat;
    background-size:100% 100%;
}
.Data_item:nth-child(3) {
    background:url('../img/tagpink.png') no-repeat;
    background-size:100% 100%;
}
.Data_item:nth-child(4) {
    background:url('../img/tagyellow1.png') no-repeat;
    background-size:100% 100%;
}

/*.con_item{*/
/*    width:180px;*/
/*    height:200px;*/
/*    font-size:15px;*/
/*    font-family:'微软雅黑Light';*/
/*    margin:5px 10px;*/
/*    text-align:center;*/
/*}*/
/*.con_item span{*/
/*    font-weight:700;*/
/*    font-size:17px;*/
/*}*/
.Third{
    width:1500px;
    margin: 0px auto;
    padding:1px;
}
.T_cont{
    margin-top:20px;
    display:flex;
    height:430px;
    font-size:18px;
    line-height:30px;
    letter-spacing:2px;
    font-family:'微软雅黑Light';
    padding:10px 5px;
}
.S_title{
    width:200px;
    text-align:center;
    margin:40px 300px;
    font-family:"微软雅黑";
    height:60px;
    padding:1px;
    display:flex;
    line-height:60px;
    cursor:pointer;
}

.S_title img{
    width:60px;
    height:60px;
    /*vertical-align: middle;*/
}

.S_title img:hover{
    -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.S_title p{
    display:inline-block;
    font-size:25px;
    margin-top:15px;
}
.S_title2{
    width:200px;
    text-align:center;
    margin:40px 319px;
    font-family:"微软雅黑";
    height:60px;
    padding:1px;
    display:flex;
    line-height:60px;
    cursor:pointer;
}

.S_title2 img{
    width:60px;
    height:60px;
    /*vertical-align: middle;*/
}
.S_title2 img:hover{
    -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.S_title2 p{
    display:inline-block;
    font-size:25px;
    margin-top:15px;
}
.S_title3{
    width:200px;
    /*text-align:center;*/
    margin-top:40px ;
    margin-bottom: 40px;
    margin-left: 50%;
    font-family:"微软雅黑";
    height:60px;
    padding:1px;
    display:flex;
    line-height:60px;
    cursor:pointer;
}

.S_title3 img{
    width:60px;
    height:60px;
    /*vertical-align: middle;*/
}

.S_title3 img:hover{
    -webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

.S_title3 p{
    display:inline-block;
    font-size:25px;
    margin-top:1px;
}
.T_img{
    width:700px;
    text-align:center;
    height:600px;
    margin-top:50px;
}
.T_img img{
    width:600px;
    height:420px;
}
.T_intro{
    width:780px;
}
.Big{
    margin-top: 40px;
    width:100%;
    height:1080px;
    background:url('../img/EmeraldWater.jpg') no-repeat;
    background-size:100% 100%;
}
.Big2{
    margin-top: 130px;
    width:100%;
    height:1080px;
    background:url('../img/EmeraldWater.jpg') no-repeat;
    background-size:100% 100%;
}
.Four{
    margin: 20px auto;
    width:1500px;
}
.Four_d{
    margin: 30px auto;
    width:1500px;
}
.pr_pic{
    width:1500px;
    display:flex;
}
.game_item{
    width:400px;
    height:500px;
    margin-top: 38px;
    margin-bottom: 13px;
    margin-left: 73px;
    cursor:pointer;

}

.game_item a:hover img {
    border: 2px solid green; /* 更改图像边框颜色 */
    -webkit-animation: fade-in-fwd 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-fwd 1.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.game_item img{
    width:400px;
    height:400px;

}
.game_item div{
    width:400px;
    height:50px;
    background:white;
    text-align:center;
    margin-top: -2px;
    font-size:18px;
    line-height:40px;
}
.game_item div:hover{
    -webkit-animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.registration_button {
    display: inline-block;
    padding: 15px 40px;
    background-color:#4CD875;
    color: white;
    text-decoration: none;
    margin-top: 3%;
    font-size: 20px;
}

.registration_button:hover{
    -webkit-animation: wobble-hor-bottom 0.8s ;
    animation: wobble-hor-bottom 0.8s ;
}

.button-center {
    text-align: center;
}
.foot{
    width:100%;
    height:280px;
    background:url('../img/footer.jpg') no-repeat;
    background-size:100% 100%;
}
.f_con{
    width:1500px;
    margin:0 auto;
    display:flex;
    color:white;
}
.link{
    width:600px;
    margin-top: 30px;
}
.aboutus{
    margin-top: 30px;
}
.pic_font p{
    margin-left: 55%;
    margin-top: 5px;
}