html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;

}
#app{
    height: 100%;
}
.Header{
     width: 100%;
     background-color:#FAFAFA;
     height:70px;
     color:white;
     display:flex;
     overflow:hidden;
}
a{
    text-decoration: none;
    outline: none;
    color: black;
}
.logo{
    width: 360px;
    height: 70px;
    color: #333333;
    font-family: '微軟正黑體';
    font-size: 30px;
    margin-left: 50px;
    margin-top: 13px;
}
.H_middle{
    width:1000px;
    height:70px;
    line-height:70px;
    /*margin:0 auto;*/
    display:flex;
    margin-left: 100px;
}
.H_left{
    display:flex;
    margin:0 auto;
}

.Menu_item{
    width:150px;
    text-align:center;
    font-size:18px;
    cursor:pointer;
    height:70px;
    line-height: 70px;
    position: relative;

    color: #000; /* Set the default text color */
    transition: color 0.3s ease; /* Add a smooth transition effect for color */
    overflow: hidden; /* Hide the overflow to clip the background */

}
.Menu_item::before{
    content: "";
    position: absolute;
    width: 0; /* Initially, set the background width to 0 */
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #00cc00; /* Set the color of the sliding background */
    color: #FAFAFA;
    z-index:-2;
    transition: width 0.6s ease; /* Add a smooth transition effect for the sliding line */
}
.Menu_item:hover {
    color: #fff;
    z-index:1;
}
.Menu_item:hover::before {
    width: 100%; /* Expand the background width on hover */
}
.H_right{
    width:180px;
    height:70px;
    line-height:70px;
    margin-left:100px;
    text-align:center;
    font-size:15px;
    cursor:pointer;
    color: black;
    padding: 1px;
}
.H_right:hover{
    color: #4CAF50;
}
.Top{
position: relative;
}
.Top img{
width: 100%;
height: 550px;
display: block;
}
.Top_word{
    position: absolute;
    top: 30%;
    left: 52%;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    padding: 10px;
    user-select: none;
    font-family: "阿里妈妈刀隶体 Regular", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}
.Second{
    margin:75px auto;
    width:1500px;
    padding:1px;
}

.Title_word{
    font-size:30px;
    letter-spacing:5px;
    line-height:35px;
}
.S_content{
    display:flex;
}
.timeline{
    padding:1px;
    width:50%;
    margin-left:30px;
}
.time_Data,.time_con{
    display:flex;
}
.Data_item{
   width:180px;
   height:50px;
    background:url('../img/tag.png') no-repeat;
    background-size:100% 100%;
    font-size:15px;
    font-family:'微软雅黑Light';
    color:white;
    line-height:50px;
    text-align:center;
    margin:20px 10px;
    margin-bottom:5px;
}
.con_item{
     width:180px;
      height:200px;
      font-size:15px;
       font-family:'微软雅黑Light';
       margin:5px 10px;
       text-align:center;
}
.con_item span{
    font-weight:700;
    font-size:17px;
}
.Third{
    width:1500px;
    margin: 0px auto;
    padding:1px;
}
.T_cont{
    margin-top:20px;
    display:flex;
    height:430px;
    font-size:18px;
    line-height:30px;
    letter-spacing:2px;
    font-family:'微软雅黑Light';
    padding:10px 5px;
}
.S_title{
    width:200px;
    text-align:center;
    margin:40px 300px;
    font-family:"微软雅黑";
    height:60px;
    padding:1px;
    display:flex;
    line-height:60px;
}
.S_title img{
    width:60px;
    height:60px;
    /*vertical-align: middle;*/
}
.S_title p{
    display:inline-block;
    font-size:25px;
    margin-top:15px;
}

.T_img{
    width:700px;
    text-align:center;
    height:600px;
    margin-top:50px;
}
.T_img img{
    width:580px;
    height:390px;
}
.T_intro{
    width:780px;
}
.Big{
    width:100%;
    height:1080px;
    background:url('../img/EmeraldWater.jpg') no-repeat;
    background-size:100% 100%;
}
.Four{
    margin: 20px auto;
    width:1500px;
}
.pr_pic{
    width:1500px;
    display:flex;
}
.game_item{
    width:400px;
    height:500px;
    margin-top: 38px;
    margin-bottom: 13px;
    margin-left: 73px;
    cursor:pointer;
}

.game_item a:hover img {
    border: 2px solid green; /* 更改图像边框颜色 */
}
.game_item img{
    width:400px;
    height:400px;

}
.game_item div{
    width:400px;
    height:50px;
    background:white;
    text-align:center;
    margin-top: -2px;
    font-size:18px;
    line-height:40px;
}
.registration_button {
    display: inline-block;
    padding: 30px 55px;
    background-color:darkblue;
    color: white;
    text-decoration: none;
    margin-top: 3%;
    font-size: 20px;
}
.button-center {
    text-align: center;
}
.foot{
    width:100%;
    height:200px;
    background:url('../img/footer.jpg') no-repeat;
    background-size:100% 100%;
}
.f_con{
    width:1500px;
    margin:0 auto;
    display:flex;
    color:white;
}
.link{
    width:600px;
}