<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>联系我们</title>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../static/css/element-ui.css"/>
  <link rel="stylesheet" href="../static/css/new_index.css"/>
  <link rel="stylesheet" href="../static/css/contact.css"/>
  <script src="../static/js/jquery-3.7.1.min.js"></script>
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/element-ui.js"></script>
  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
</head>


<body>
<div id="app">
  <div class="Header">
    <div class="logo">
      <img src="../static/img/icon6.jpg" style="width: 48px;height: 48px;vertical-align: middle">
      <span style="line-height: 30px; margin-left: 1px;">河南大学智慧篮球竞赛</span>
    </div>
    <div class="H_middle">
      <div class="H_left">
        <a href="index.html" class="Menu_item">网站首页</a>
        <a href="process.html" class="Menu_item">比赛流程</a>

        <a v-if="isLoggedIn" href="/apply" class="Menu_item">比赛报名</a>
        <a v-else href="/apply" class="Menu_item">比赛报名</a>

        <a href="contact.html" class="Menu_item">联系我们</a>
        <a href="download.html" class="Menu_item">资料下载</a>
      </div>
      <div class="H_right">
        <img src="../static/img/user_icon1.png" style="width: 35px;height: 35px;vertical-align: middle;margin-top:-8px">
        <a v-if="isLoggedIn" href="/apply">个人中心</a>
        <a v-else href="/apply">登录/注册</a>
      </div>
    </div>
  </div>

  <!--头部-->
  <div class="Top">
    <img src="../static/img/basketbanner.jpg" >
    <div class="Top_word">河南大学智慧篮球竞赛</div>
    <div class="Top_word2">时间：2023年11月13日—12月29日</div>
    <div class="Top_word3">地点：河南大学(金明校区)</div>
  </div>

  <div style=" margin-top: 24px;">
    <p style="font-size: 28px;margin-left: 10%;color: #333;">联系方式</p>
    <p style="font-size: 16px; margin-left: 10%;color: #909399;">如果有任何疑问请联系我们。</p>

<!--    <p style="font-size: 16px; margin-left: 20%;color: #333;">联系电话：1111</p>-->
<!--    <p style="font-size: 16px; margin-left: 20%;color: #333;">联系邮箱：@henu.com</p>-->
<!--    <p style="font-size: 16px; margin-left: 20%;color: #333;">联系地址：河南大学软件学院1001</p><BR><BR><BR>-->
  </div>
  <div class="contact">
    <div class="contact_icon">
      <img src="../static/img/tel.png">
      <img src="../static/img/local.png">
      <img src="../static/img/email.png">
    </div>
    <div class="contact_font">
      <span>电话：</span>
      <span>地址：</span>
      <span>邮箱：</span>
    </div>
    <div class="contact_info">
      <span>19513359603</span>
      <span>河南大学金明校区软件学院114</span>
      <span>364299279@qq.com</span>
    </div>
  </div><BR><BR><BR><BR><BR><BR><BR>

  <div class="foot">
    <div class="f_con">
      <div class="link">
        <h2>友情链接</h2>
        <p><a href="https://www.henu.edu.cn/" style="text-decoration: none; color: inherit;">河南大学</a></p>
        <p>主办单位：<a href="https://henu.goworkla.cn/" style="text-decoration: none; color: inherit;">河南大学就业创业指导中心</a></p>
        <p>承办单位：<a href="https://software.henu.edu.cn/" style="text-decoration: none; color: inherit;">河南大学软件学院</a></p>
        <p>支持单位：河南众知物科技有限公司&nbsp;&nbsp;&nbsp;河南大学数字体育协同创新中心</a></p>
      </div>
      <div class="aboutus">
        <h2>联系方式</h2>
        <p>报名：19513359603</p>
        <p>邮箱：364299279@qq.com</p>
        <p>地址：河南省开封市龙亭区今明大道河南大学</p>
      </div>
      <div class="pic_font">
        <img src="../static/img/dimentioncode.png" style="width: 200px;height: 220px;margin-left: 120px;margin-top: 10px">
        <p>请扫码加群</p>
      </div>
    </div>

  </div>

</div>

</body>

<script>
  var Main = {
    data() {
      var data=false;
      $.ajax({
        type: 'GET', // 规定请求的类型（GET 或 POST）
        url: '/user/isLogin', // 请求的url地址
        dataType: 'json', //预期的服务器响应的数据类型
        async:false,
        beforeSend: function () { //发送请求前运行的函数（发送之前就会进入这个函数）

        },
        success: function (result) { // 当请求成功时运行的函数
          if (result.code!=200){
            alert(result.msg);
          }else{
            data=result.data;
          }
        },
        error: function (result) { //失败的函数

        },
        complete: function () { //请求完成时运行的函数（在请求成功或失败之后均调用，即在 success 和 error 函数之后，不管成功还是失败 都会进这个函数）
        }
      });
      return {
        activeIndex: '1',
        isLoggedIn: false,//判断是否登录参数
      };
    },
    methods: {
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      },
    }
  }
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#app')
</script>

</html>