<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="../static/css/element-ui.css"/>
    <link rel="stylesheet" href="../static/css/new_index.css"/>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/vue.js"></script>
    <script src="../static/js/element-ui.js"></script>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
</head>


<body>
<div id="app">
    <div class="Header">
        <div class="logo">
            <img src="../static/img/icon6.jpg" style="width: 48px;height: 48px;vertical-align: middle">
            <div class="logo_word">河南大学智慧篮球竞赛</div>
        </div>
        <div class="H_middle">
            <div class="H_left">
                <a href="index.html" class="Menu_item Menu_item_active">网站首页</a>
                <a href="process.html" class="Menu_item">比赛介绍</a>
                <a  href="/apply" class="Menu_item">比赛报名</a>
                <a href="contact.html" class="Menu_item">联系我们</a>

                <a href="download.html" class="Menu_item">比赛章程</a>
            </div>
            <div class="H_right">
                <img src="../static/img/user_icon1.png" style="width: 35px;height: 35px;vertical-align: middle;margin-top:-8px">
                <a v-if="isLoggedIn" href="/apply">个人中心</a>
                <a v-else href="/apply">登录/注册</a>
            </div>
        </div>
    </div>


    <!--头部-->
    <div class="Top">
        <img src="../static/img/basketbanner.jpg" >
        <div class="top_word">
            <div class="Top_word">河南大学智慧篮球竞赛</div>
            <div class="Top_word2">时间：2023年11月27日—2024年1月7日</div>
            <div class="Top_word3">地点：河南大学(金明校区)</div>
        </div>
    </div>

    <!--  比赛介绍  -->
    <div class="Third">
        <div class="T_cont">
            <div class="T_img">
                <img src="../static/img/basketbanner4.jpg">
            </div>
            <div class="T_intro">
                <div class="S_title">
                    <div><img src="../static/img/titlecoin.jpg"></div>
                    <div style="margin-bottom:10px;font-size:25px;">比赛介绍</div>
                </div>
                <div>
                    “智慧篮球”是一种结合了科技和篮球运动的概念，利用先进的技术手段来提升篮球运动的体验和效果。
                    在体育信息化、数字化、智能化的基础上，以物联网、大数据、人工智能等新一代信息技术手段为依托 ，
                    突出强调以人为本的核心理念，将先进科技融入体育产品研发、生产、运输的各环节，使体育的管理、服务等各阶段
                    充满“智慧”，体现人文关怀、提高效率的同时，实现体育产业经济效益最大化，推动体育可持续发展，最终“智慧服务于人”，
                    提升体育参与者运动体验感，保障其运动质量。为引导激励我校学生积极响应创新创造的时代号召，
                    激发大学生从事科学研究与探索的兴趣和潜能以及对体育的热爱，倡导理论联系实际、求真务实的学风和团队协作的人文精神，
                    提升我校学生的创新能力、实践能力、协作精神、科学和身体素质，培养更多人工智能领域和工程项目所需人才，
                    河南大学智慧网络研究院和河南众知物科技有限公司定于2023年11月27日至2024年1月7日在河南大学(金明校区)，
                    举办河南大学大学生智慧体育竞赛。
                </div>
            </div>
        </div>
    </div>

    <div class="Second">
        <div class="S_content">
            <!--轮播图-->
            <el-carousel :interval="2500" style="width: 600px;margin-top: 100px;margin-left: 55px;" :arrow="arrow">
                <el-carousel-item v-for="item in 4" :key="item" style="cursor: pointer;height: 400px">
                    <img :src="'../static/img/basketballslider' + item + '.jpg'" style="width: 100%; height: 100%; ">
                </el-carousel-item>
            </el-carousel>
            <!--时间线-->
            <div class="timeline">
                <div class="S_title2">
                    <div><img src="../static/img/titlecoin.jpg"></div>
                    <div style="margin-bottom:20px;font-size:25px;">赛事安排</div>
                </div>
                <div class="time_Data">
                    <div class="Data_item">2023-11-27</div>
                    <div class="Data_item">2023-12-11</div>
                    <div class="Data_item">2023-12-29</div>
                    <div class="Data_item">2024-01-07</div>
                </div>
                <div class="time_con">
                    <div >
                        <el-steps :space="300" :active="computedActive" finish-status="success" align-center>
                            <el-step title="赛事发布" description="提交赛事内容，展示赛事详情。" style="width: 600px;cursor: pointer">
                                <template slot="icon" >
                                    <img  style="width: 30px;height: 30px" src="../static/img/sign.png" >
                                </template>
                            </el-step>
                            <el-step title="比赛报名" description="团队根据赛事规则和比赛分类选择自己团队的参赛分类并在网站的报名系统中进行报名。" style="cursor: pointer">
                                <template slot="icon" >
                                    <img  style="width: 20px;height: 20px" src="../static/img/ing.png" >
                                </template>
                            </el-step>
                            <el-step title="作品提交" description="在报名系统中，将自己的参赛作品进行提交。" style="cursor: pointer">
                                <template slot="icon" >
                                    <img  style="width: 27px;height: 27px" src="../static/img/evaluate.png" >
                                </template>
                            </el-step>
                            <el-step title="评委评选" description="评委对所有团队提交的作品进行评估打分，选定获奖团队。" style="cursor: pointer">
                                <template slot="icon" >
                                    <img  style="width: 30px;height: 30px" src="../static/img/champion.png" >
                                </template>
                            </el-step>
                        </el-steps>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="S_title3" style="margin-top:35px;">
        <div><img src="../static/img/titlecoin.jpg"></div>
        <p>比赛项目</p>
    </div>
    <div class="Big">
        <div class="Four">
            <!-- 项目分类图片 -->
            <div class="pr_pic">
                <div class="game_item">
                    <a href="process.html" style="color: black;">
                        <img src="../static/img/tinyweixin.png">
                        <div style="margin-top: -3px">小程序开发</div>
                    </a>
                </div>
                <div class="game_item" >
                    <a href="process.html" style="color: black;">
                        <img src="../static/img/web1.jpg">
                        <div style="margin-top: -3px">WEB开发</div>
                    </a>
                </div>
                <div class="game_item">
                    <a href="process.html" style="color: black;">
                        <img src="../static/img/Android.jpg">
                        <div style="margin-top: -3px">安卓/IOS开发</div>
                    </a>
                </div>
            </div>
            <div class="pr_pic">
                <div class="game_item">
                    <a href="process.html" style="color: black;">
                        <img src="../static/img/ciar.png">
                        <div style="margin-top: -3px">人物识别替换</div>
                    </a>
                </div>
                <div class="game_item">
                    <a href="process.html" style="color: black;">
                        <img src="../static/img/posedetect1.jpg">
                        <div style="margin-top: -3px">实时体育动作识别</div>
                    </a>
                </div>
                <div class="game_item">
                    <a href="process.html" style="color: black;">
                        <img src="../static/img/3Dpose1.jpg">
                        <div style="margin-top: -3px">三维人体重建</div>
                    </a>
                </div>
            </div>
        </div>
    </div><BR><BR>
    <div class="button-center">
        <a v-if="isLoggedIn" href="/apply" class="registration_button">比赛报名</a>
        <a v-else href="/apply" class="registration_button">比赛报名</a>
    </div><BR><BR><BR><BR>

    <div class="foot">
        <div class="f_con">
            <div class="link">
                <h2>友情链接</h2>
                <p><a href="https://www.henu.edu.cn/" style="text-decoration: none; color: inherit;">河南大学</a></p>
                <p>主办单位：<a href="https://henu.goworkla.cn/" style="text-decoration: none; color: inherit;">河南大学就业创业指导中心</a></p>
                <p>承办单位：<a href="https://software.henu.edu.cn/" style="text-decoration: none; color: inherit;">河南大学软件学院</a></p>
                <p>支持单位：河南众知物科技有限公司&nbsp;&nbsp;&nbsp;河南大学数字体育协同创新中心</a></p>
            </div>
            <div class="aboutus">
                <h2>联系方式</h2>
                <p>报名：19513359603</p>
                <p>邮箱：364299279@qq.com</p>
                <p>地址：河南省开封市龙亭区金明大道河南大学</p>
            </div>
            <div class="pic_font">
                <img src="../static/img/dimentioncode.png" style="width: 200px;height: 220px;margin-left: 120px;margin-top: 10px">
                <p>请扫码加群</p>
            </div>
        </div>

    </div>


</div>

</body>

<!--轮播图-->
<style>
    .el-carousel__item h3 {
        color: #475669;
        font-size: 14px;
        opacity: 0.75;
        line-height: 150px;
        margin: 0;
    }

    .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
    }

    .el-carousel__item:nth-child(2n+1) {
        background-color: #d3dce6;
    }


</style>

<script>

    var Main = {
        data() {
            var data=false;
            $.ajax({
                type: 'GET', // 规定请求的类型（GET 或 POST）
                url: '/user/isLogin', // 请求的url地址
                dataType: 'json', //预期的服务器响应的数据类型
                async:false,
                beforeSend: function () { //发送请求前运行的函数（发送之前就会进入这个函数）

                },
                success: function (result) { // 当请求成功时运行的函数
                    if (result.code!=200){
                        alert(result.msg);
                    }else{
                        data=result.data;
                    }
                },
                error: function (result) { //失败的函数

                },
                complete: function () { //请求完成时运行的函数（在请求成功或失败之后均调用，即在 success 和 error 函数之后，不管成功还是失败 都会进这个函数）
                }
            });
            return {
                activeIndex: '1',
                arrow: 'always',
                active: 0,
                isLoggedIn: data,//判断是否登录参数
            };
        },
        computed: {
            computedActive() {
                const currentLocalTime = new Date();
                const step1StartTime = new Date('2023-11-27T00:00:00'); // Replace with your start time
                const step2StartTime = new Date('2023-12-11T00:00:00'); // Replace with your start time
                const step3StartTime = new Date('2023-12-29T00:00:00'); // Replace with your start time
                const step4StartTime = new Date('2024-01-07T00:00:00'); // Replace with your start time
                // Add more steps as needed
                const stripTime = (date) => new Date(date.getFullYear(), date.getMonth(), date.getDate());

                if (stripTime(currentLocalTime) <= stripTime(step1StartTime)) {
                    return 1; // Step 1
                } else if (stripTime(currentLocalTime) <= stripTime(step2StartTime)) {
                    return 1; // Step 2
                } else if (stripTime(currentLocalTime) <= stripTime(step3StartTime)) {
                    return 2; // Step 3
                } else if (stripTime(currentLocalTime) <= stripTime(step4StartTime)) {
                    return 3;
                }
            },
        },
        methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
        }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')

</script>

</html>