<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>比赛流程 </title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/element-ui.css"/>
  <link rel="stylesheet" href="../static/css/new_index.css"/>
  <link rel="stylesheet" href="../static/css/downloadProcess.css"/>
  <script src="../static/js/jquery-3.7.1.min.js"></script>
  <script src="../static/js/vue.js"></script>
  <script src="../static/js/element-ui.js"></script>
  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon" />
</head>


<body>
<div id="app">
  <div class="Header">
    <div class="logo">
      <img src="../static/img/icon6.jpg" style="width: 48px;height: 48px;vertical-align: middle">
      <span style="line-height: 30px; margin-left: 1px;">河南大学智慧篮球竞赛</span>
    </div>
    <div class="H_middle">
      <div class="H_left">
        <a href="index.html" class="Menu_item">网站首页</a>
        <a href="process.html" class="Menu_item">比赛流程</a>

        <a v-if="isLoggedIn" href="apply/index.html" class="Menu_item">比赛报名</a>
        <a v-else href="/apply" class="Menu_item">比赛报名</a>

        <a href="contact.html" class="Menu_item">联系我们</a>
        <a href="download.html" class="Menu_item">资料下载</a>
      </div>
      <div class="H_right">
        <img src="../static/img/user_icon1.png" style="width: 35px;height: 35px;vertical-align: middle;margin-top:-8px">

        <a v-if="isLoggedIn" href="apply/index.html">个人中心</a>
        <a v-else href="/apply">登录/注册</a>

      </div>
    </div>
  </div>

  <!--头部-->
  <div class="Top">
    <img src="../static/img/basketbanner.jpg" >
    <div class="Top_word">河南大学智慧篮球竞赛</div>
    <div class="Top_word2">时间：2023年11月13日—12月29日</div>
    <div class="Top_word3">地点：河南大学(金明校区)</div>
  </div>

  <div style=" margin-top: 24px;margin-left: 6%;margin-right: 6%">
    <p style="font-size: 28px; color: #333;">一、参赛分类：</p>
    <p style="font-size: 20px; color: #606266;font-weight: bold">工程应用组</p>
    <p style="font-size: 20px; color: #909399;line-height: 1.5;">1.&nbsp;小程序开发：开发针对运动员或用户的数据分析功能，例如运动数据监测、健身计划制定，以及个性化反馈和建议。 将体育相关的信息、活动或服务与智能化技术相结合，以提供更智能化、高效的体育体验或服务。</p>
    <p style="font-size: 20px; color: #909399;line-height: 1.5;">2.&nbsp;WEB开发：创建一个面向参赛者、观众和组织者的综合性网站。这个网站应该能够提供关于比赛信息、报名流程、赛程安排、比赛结果、参赛者数据分析等方面的服务。开发一个展示体育比赛的基本信息，包括时间、地点、参赛规则等内容的网站，可针对视频进行剪辑下载发布等。或搭建可运行深度学习模型的平台。可以为参赛者、观众和组织者提供一个全面、智能化、互动性强的比赛信息平台，促进比赛的顺利进行和更好的体育健康体验。</p>
    <p style="font-size: 20px; color: #909399;line-height: 1.5;">3.&nbsp;安卓和IOS开发：面向移动设备的应用程序，以提供智能体育体验和服务。开发一个安全、稳定的用户注册和登录系统，允许用户创建个人账户并管理个人信息。提供比赛信息的浏览功能，为用户提供训练计划、健身建议和个性化指导，帮助他们改善运动表现和健康状况。社交平台，让用户可以分享运动成果、互动交流，并与其他用户建立连接和社区。</p>
    <p style="font-size: 20px; color: #606266;font-weight: bold">人工智能组</p>
    <p style="font-size: 20px; color: #909399;line-height: 1.5;">1.&nbsp;人脸识别与替换：通过人脸识别技术，参赛者可以在虚拟场景中进行个性化的体育训练和体验，比如与虚拟教练进行互动、参与虚拟比赛等。通过分析参赛者的面部表情和动作，人脸识别技术可以提供实时的身体姿势分析和反馈，帮助参赛者改善运动技能和训练效果。利用人脸识别和替换技术，比赛现场可以设置互动娱乐装置，让观众可以与虚拟角色进行互动，增加比赛的趣味性和参与度。通过人脸识别和替换技术，参与者可以定制自己的虚拟形象，与其他参赛者进行个性化的互动和社交交流，增强比赛的社交性和趣味性。</p>
    <p style="font-size: 20px; color: #909399;line-height: 1.5;">2.&nbsp;实时体育动作识别：通过实时监测参赛者的体育动作，可以提供针对性的姿势纠正和优化建议，帮助参赛者改善运动技能和提高竞技水平。实时分析比赛中的参赛者动作，为裁判和观众提供客观的实况分析和裁决参考，提高比赛的公平性和透明度。基于实时的动作识别数据，可以提供即时的反馈和调整建议，让参赛者能够快速调整动作和策略，提高比赛表现和成绩。</p>
    <p style="font-size: 20px; color: #909399;line-height: 1.5;">3.&nbsp;人体三维重建：创建参赛者的精确三维模型，以便进行更精细的数据分析和可视化展示。通过三维重建技术，可以精确捕捉和分析参赛者的运动轨迹和姿势，帮助教练和参赛者优化运动技能和提高竞技水平。基于三维重建的参赛者模型，可以创建虚拟训练场景，让参赛者在虚拟环境中进行个性化训练和体验，提高训练效果和竞技水平。</p>
    <p style="font-size: 28px; color: #333;">二、参赛要求：</p>
    <p style="font-size: 20px; color: #909399;line-height: 1.5;">参赛选手应为河南大学在籍学生（包含本科、硕士、博士），学生以团队形式参赛，团队成员不得少于3人，同一参赛选手只能参加一个竞赛项目，不接受学生个人报名。</p>
    <p style="font-size: 20px; color: #909399;line-height: 1.5;">竞赛采用网上报名形式，具体报名流程和事项另行通知。报名截止日期为2023年12月15日，逾期报名将不予受理，报名日期截止后不得随意更换参赛选手和选题。</p>
    <p style="font-size: 28px; color: #333; float: left;">三、比赛规则：</p>
    <button class="download-button" @click="downloadFile">下载比赛规则</button>
    <div style="clear: both;"></div>
  </div>

  <div style=" margin-top: 24px;margin-left: 6%;margin-right: 6%">
    <p style="font-size: 28px; color: #333;">四、奖项设置：</p>
    <img :src="'../static/img/prize.jpg' " style="width: 600px; ">
  </div>

  <div style=" margin-top: 24px;margin-left: 6%;margin-right: 6%">
    <p style="font-size: 28px; color: #333;">五、其他事项：</p>
    <p style="font-size: 20px; color: #909399;line-height: 1.5;">竞赛组委会办公室设在河南大学软件学院，有关竞赛的其它事宜，竞赛组委会将另行通知。</p>
  </div>

  <BR><BR><BR><BR><BR><BR><BR>

  <div class="foot">
    <div class="f_con">
      <div class="link">
        <h2>友情链接</h2>
        <p><a href="https://www.henu.edu.cn/" style="text-decoration: none; color: inherit;">河南大学</a></p>
        <p>主办单位：<a href="https://henu.goworkla.cn/" style="text-decoration: none; color: inherit;">河南大学就业创业指导中心</a></p>
        <p>承办单位：<a href="https://software.henu.edu.cn/" style="text-decoration: none; color: inherit;">河南大学软件学院</a></p>
        <p>支持单位：河南众知物科技有限公司&nbsp;&nbsp;&nbsp;河南大学数字体育协同创新中心</a></p>
      </div>
      <div class="aboutus">
        <h2>联系方式</h2>
        <p>报名：19513359603</p>
        <p>邮箱：364299279@qq.com</p>
        <p>地址：河南省开封市龙亭区东京大道河南大学</p>
      </div>
      <div class="pic_font">
        <img src="../static/img/dimentioncode.png" style="width: 200px;height: 220px;margin-left: 120px;margin-top: 10px">
        <p>请扫码加群</p>
      </div>
    </div>

  </div>

</div>

</body>

<script>
  var Main = {
    data() {
      return {
        activeIndex: '1',
        isLoggedIn: false,//判断是否登录参数
      };
    },
    methods: {
      handleSelect(key, keyPath) {
        console.log(key, keyPath);
      },
      handleDownload() {
        window.location.href = "download.html"; // 请根据实际的文件路径进行调整
      },
      downloadFile() {
        // 创建一个临时的下载链接
        const url = 'https://example.com/yourfile.pdf'; // 你要下载的文件的 URL
        const link = document.createElement('a');
        link.href = url;
        link.setAttribute('download', 'filename.pdf'); // 设置下载文件的名称
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link); // 之后删除该链接
      }
    }
  }
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#app')
</script>

</html>